.about-me {
  background-color: #ffffff;
  padding: 55px 0 0;
  h2 {
    text-align: center;
    font-family: 'PFDinDisplayPro-Thin', sans-serif;
    color: #1c0815;
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 13px;
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 28px;
    }
    span {
      font-family: 'PFDinDisplayPro-Light', sans-serif;
      font-weight: 400;
    }
  }
  img {
    display: block;
    margin: 0 auto 15px;
  }
  .description {
    text-align: center;
    color: #180a18;
    font-family: 'PFDinDisplayPro-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 60px;
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 14px;
    }
  }
  .flex-ct {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media (min-width: 320px) and (max-width: 1366px) {
      width: 100%;
    }
    @media (min-width: 320px) and (max-width: 768px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    @media (min-width: 320px) and (max-width: 768px) {
      width: 100%;
    }
    .caption-ct {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      background-color: #e61466;
      -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
      transform: skew(25deg);
      margin: 0 43px 0 0;
      @media (min-width: 320px) and (max-width: 568px) {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin: 0 auto;
        width: 100%;
      }
      p {
        -webkit-transform: skew(-25deg);
        -ms-transform: skew(-25deg);
        transform: skew(-25deg);
        padding: 10px 30px 10px 40px;
        color: #ffffff;
        font-family: 'PFDinDisplayPro-Medium', sans-serif;
        font-size: 19px;
        font-weight: 500;
        @media (min-width: 320px) and (max-width: 568px) {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          text-align: center;
        }
      }
    }
    .content {
      -webkit-transform: skew(25deg);
      -ms-transform: skew(25deg);
      transform: skew(25deg);
      background-color: #f4f4f4;
      @media (min-width: 320px) and (max-width: 568px) {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
      }
      p {
        padding: 20px 40px;
        font-style: oblique;
        color: #1c0815;
        font-family: 'PFDinDisplayPro-Light', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 20.22px;
        @media (min-width: 320px) and (max-width: 568px) {
          font-style: normal;
          text-align: justify;
        }
      }
    }
  }
  .column-1 {
    width: 38%;
    .content {
      p {
        text-align: end;
        @media (min-width: 320px) and (max-width: 568px) {
          text-align: center;
        }
      }
    }
  }
  .column-2 {
    width: 35%;
    margin: 66px 0 100px;
    .caption-ct {
      margin: 0 0 0 -50px;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      @media (min-width: 320px) and (max-width: 568px) {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin: 0;
      }
    }
    .content {
      background-color: transparent;
      p {
        padding: 20px 0;
        @media (min-width: 320px) and (max-width: 568px) {
          text-align: justify;
          padding: 20px;
        }
      }
    }
  }
  .column {
    @media (min-width: 320px) and (max-width: 768px) {
      width: 85%;
      margin: 0 auto 25px;
    }
  }
  .author-ct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    @media (min-width: 320px) and (max-width: 768px) {
      position: static;
    }
    img {
      width: 37%;
      margin: 0 auto;
      @media (min-width: 320px) and (max-width: 480px) {
        width: 80%;
      }
    }
  }
}