footer {
  background-color: #1c0815;
  padding: 25px 0;
  .flex-ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media (min-width: 320px) and (max-width: 1366px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .copyright-ct {
      width: 50%;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      @media (min-width: 320px) and (max-width: 1366px) {
        width: 100%;
      }
      p {
        color: #ffffff;
        font-family: 'PFDinDisplayPro-Light', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 23.4px;
        @media (min-width: 320px) and (max-width: 1366px) {
          text-align: center;
          margin: 0 0 10px;
        }
      }
    }
    .info-ct {
      @extend %info;
      @media (min-width: 320px) and (max-width: 768px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      img {
        @media (min-width: 320px) and (max-width: 768px) {
          margin: 0 0 15px;
        }
      }
      hr {
        margin: 0 5px;
        @media (min-width: 320px) and (max-width: 768px) {
          display: none;
        }
      }
      p {
        @media (min-width: 320px) and (max-width: 768px) {
          width: 100%;
          margin: 0 0 15px;
          text-align: center;
        }
      }
      a {
        margin: 0 0 0 20px;
        @extend %link;
        span {
          padding: 14px 15px;
        }
        @media (min-width: 320px) and (max-width: 768px) {
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
        }
      }
      @media (min-width: 320px) and (max-width: 1366px) {
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
}