.scheme {
  background-color: #fbfbfb;
  padding: 90px 0 100px;
  @media (min-width: 320px) and (max-width: 480px) {
    padding: 50px 0;
  }
  h2 {
    text-align: center;
    color: #1c0815;
    font-family: 'PFDinDisplayPro-ExtraThin', sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 5px;
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 28px;
    }
    span {
      font-family: 'PFDinDisplayPro-Thin', sans-serif;
      font-weight: 400;
    }
  }
  .heart {
    display: block;
    margin: 0 auto 15px;
  }
  .description {
    text-align: center;
    color: #180a18;
    font-family: 'PFDinDisplayPro-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 70px;
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 14px;
    }
  }
  .flex-ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    @media (min-width: 320px) and (max-width: 768px) {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  .step {
    width: 18%;
    margin: 0 10px;
    @media (min-width: 320px) and (max-width: 768px) {
      width: 45%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 15px 20px;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      width: 85%;
    }
    .img-ct {
      margin: -25px auto 25px;
      height: 45px;
      width: 70px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      @media (min-width: 320px) and (max-width: 480px) {
        margin: 25px auto;
      }
      img {
        display: block;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
      }
    }
    .text-ct {
      margin: 0 0 50px;
      .caption {
        text-align: center;
        color: #000000;
        font-family: 'PFDinDisplayPro-Regular', sans-serif;
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 30px;

      }
      .content-text {
        font-weight: 300;
        color: #787878;
        font-family: 'SegoeUI-Light', sans-serif;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .step-2, .step-4 {
    .text-ct {
      margin: 50px 0 0;
      @media (min-width: 320px) and (max-width: 768px) {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        margin: 0;
      }

    }
    .img-ct {
      @media (min-width: 320px) and (max-width: 768px) {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
      }
    }
  }
  .step-2 {
    .img-ct {
      margin: 25px auto -30px;
      @media (min-width: 320px) and (max-width: 768px) {
        margin: -25px auto 25px;
      }
    }
  }
  .step-4 {
    .img-ct {
      margin: 25px auto -20px;
      @media (min-width: 320px) and (max-width: 768px) {
        margin: -25px auto 25px;
      }
      img {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
      }
    }
  }
}