.top-content {
  background: url("../img/top-content/bg-for-top-content.png") no-repeat 50% 0%;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0 0 230px;
  @media (min-width: 320px) and (max-width: 568px) {
    background-color: #1c0616;
    background-image: none;
    padding: 0 0 50px;
  }
  .flex-ct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .text-ct {
    width: 50%;
    @media (min-width: 320px) and (max-width: 768px) {
      width: 70%;
    }
    @media (min-width: 320px) and (max-width: 568px) {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    h2 {
      margin: 140px 0 35px;
      font-family: 'PFDinDisplayPro-ExtraThin', sans-serif;
      color: #ffffff;
      font-size: 56px;
      font-weight: 300;
      @media (min-width: 320px) and (max-width: 568px) {
        margin-top: 0;
        text-align: center;
        @media (min-width: 320px) and (max-width: 480px) {
          font-size: 32px;
        }
      }
      span {
        font-family: 'PFDinDisplayPro-Light', sans-serif;
        font-weight: 400;
      }
    }
    .des {
      i {
        color: #ffffff;
        margin: 0 8px 0 0;
      }
      color: #ffffff;
      font-family: 'PFDinDisplayPro-Regular', sans-serif;
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 50px;
      @media (min-width: 320px) and (max-width: 568px) {
        text-align: center;
      }
      @media (min-width: 320px) and (max-width: 480px) {
        font-size: 14px;
      }
    }
    a {
      @extend %link;
      @media (min-width: 320px) and (max-width: 568px) {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
      }
    }
  }
}